*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 8%);
    font-family: "Inter", sans-serif;
}
button{
    display: block;
}
.card{
    background-color: hsl(0, 0%, 12%);
    width: 27vw;
    height: 90vh;
    margin-top: 35px;
    border-radius: 10px;
}
.card img{
    border-radius: 100%;
    width: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
h1, h2, h3{
    text-align: center;
}
h1{
    font-size: 25px;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    margin-top: 30px;
}
h2{
    font-size: 14px;
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    margin-top: 10px;
}
h3{
    font-size: 13px;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
    margin-top: 20px;
}
#btn-1, #btn-2, #btn-3, #btn-4, #btn-5{
    padding: 15px 130px 15px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: none;
    background-color: #333333;
    color: hsla(0, 0%, 100%);
    font-weight: bold;
    cursor: pointer;
}
#btn-2{
    padding: 15px 100px 15px;
    margin-top: 15px;
}
#btn-3{
    margin-top: 15px;
}
#btn-4{
    padding: 15px 125px 15px;
    margin-top: 15px;
}
#btn-5{
    padding: 15px 115px 15px;
    margin-top: 15px;
}
#btn-1:hover, #btn-2:hover, #btn-3:hover, #btn-4:hover, #btn-5:hover{
    background-color: #c4f82a;
    transition: ease-in .5s;
    color: #1a2c00;
    font-weight: bold;
}
@media screen and (max-width: 600px) {
    body{
        height: 100vh;
    }
    .card{
        width: 90vw;
        height: 75vh;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}